{% extends "base.html" %}

{% block content %}
<hr />
<div>{{todos_count}} Todos</div>
<hr />
{% for todo in todos %}
<div class="row">
    <div class="col-12">
        <a href="{{url_for('todo_details',todo_id=todo.id)}}">
            <div class="alert alert-primary" role="alert">
                <div class="row">
                    <div class="col-10">
                        {{todo.title}}
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
{% endfor %}
{% endblock %}