{% extends "base.html" %}
{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{todo.id}}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{todo.title}}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{todo.description}}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{todo.status}}</td>
        </tr>
    </tbody>
</table>
<hr />
<button class="btn btn-warning">
    <a href="/">Todos</a>
</button>
{% if todo.id < max_id %} <button class="btn btn-warning">
    <a href="/todos/{{todo.id + 1}}">Next Todo</a>
    </button>
    {% else %}
    <button class="btn btn-warning">
        <a href="/todos/1">First Todo</a>
    </button>
    {% endif %}
    <hr />


    {% endblock %}